<!DOCTYPE html>
<html lang="en">
<head>
    <title>game</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/classes/Vector2.js" type="text/javascript"></script>
</head>
<body>
    <canvas id="canvas"></canvas>
    <script src="/js/classes/Entity.js" type="text/javascript"></script>
    <script src="/js/classes/Camera.js" type="text/javascript"></script>
    <script src="/js/classes/Chunk.js" type="text/javascript"></script>
    <script src="/js/classes/CircleObstacle.js" type="text/javascript"></script>
    <script src="/js/classes/Game.js" type="text/javascript"></script>
    <script src="/js/classes/PlayerEntity.js" type="text/javascript"></script>
    <script src="/js/classes/ProjectileEntity.js" type="text/javascript"></script>
    <script src="/js/classes/Util.js" type="text/javascript"></script>
    <script src="/js/classes/Vector.js" type="text/javascript"></script>
    <script src="/js/multiplayer.js" type="text/javascript"></script>
</body>
</html>