html, body {
    margin: 0;
    padding: 0;
}

#canvas {
    position: fixed;
    left: 0;
    top: 0;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/HelveticaNeue-Regular.otf");
}